* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    padding-bottom: 50px;
}
  
::-webkit-scrollbar-track {
    height: 150px;
    margin-bottom: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 15px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}